.btn-add {
  display: block;  /* Ensures it's a block-level element */
  margin: 12px auto;  /* Centers horizontally */
  font-size: 24px;   /* Define a width to apply margin auto */
  text-align: center;
  background-color: black;
  border-radius: 50%; /* Ensures text inside is centered */
}

.delete, .done {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.5rem;
  width: 60px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.delete {
  background-color: #f44336;
}

.done {
  background-color: #4caf50;
}
