
.btn-add {
  display: block;  /* Ensures it's a block-level element */
  margin: 12px auto;  /* Centers horizontally */
  font-size: 36px;   /* Define a width to apply margin auto */
  text-align: center;
  background-color: #333333;
  color: #888888;
  border-radius: 50%;
  border: none;/* Ensures text inside is centered */

}

.btn-add:hover {
  background-color: #444444;
  color: #F9FEFF;
}
.delete, .done {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.5rem;
  width: 76px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  color: #fff;
}

.delete {
  background-color: #f44336;
}

.done {
  background-color: #4caf50;
}


@media (max-width: 780px) {
  .btn-add {
    font-size: 24px;
  }
}
