.pastel-red {
  background-color: #ffcccc;
  color: #000;
}

.pastel-blue {
  background-color: #ccffff;
  color: #000;
}

.pastel-green {
  background-color: #ccffcc;
  color: #000;
}

.pastel-yellow {
  background-color: #ffffcc;
  color: #000;
}

.pastel-purple {
  background-color: #e6ccff;
  color: #000;
}

.pastel-orange {
  background-color: #ffebcc;
  color: #000;
}

.pastel-pink {
  background-color: #ffccff;
  color: #000;
}

.pastel-teal {
  background-color: #ccf2f2;
  color: #000;
}
