.pastel-red {
  background-color: #ffcccc; /* Light Red */
  color: #000; /* Black text for contrast */
}

.pastel-blue {
  background-color: #ccffff; /* Light Blue */
  color: #000; /* Black text for contrast */
}

.pastel-green {
  background-color: #ccffcc; /* Light Green */
  color: #000; /* Black text for contrast */
}

.pastel-yellow {
  background-color: #ffffcc; /* Light Yellow */
  color: #000; /* Black text for contrast */
}

.pastel-purple {
  background-color: #e6ccff; /* Light Purple */
  color: #000; /* Black text for contrast */
}

.pastel-orange {
  background-color: #ffebcc; /* Light Orange */
  color: #000; /* Black text for contrast */
}

.pastel-pink {
  background-color: #ffccff; /* Light Pink */
  color: #000; /* Black text for contrast */
}

.pastel-teal {
  background-color: #ccf2f2; /* Light Teal */
  color: #000; /* Black text for contrast */
}
