
/* Left and Right wallpaper control */
.right-wallpaper-control,
.left-wallpaper-control {
  position: fixed;
  top: 50%;
  font-size: 24px;
  transform: translateY(-60%);
  z-index: 999;
  pointer-events: auto;
  background-color: #888888;
  color: #F9FEFF !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  opacity: 0.9;
  margin: 8px;
  font-weight: bold;
  font-size: 36px;
  border: none;
  padding: 4px;
  border-radius: 50%;
  opacity: 0.9;
  outline: none;
}

.left-wallpaper-control {
  left: 0; /* Position on the left */
}

.right-wallpaper-control {
  right: 0; /* Position on the right */
}

.left-wallpaper-control:hover,
.right-wallpaper-control:hover {
  color: #666666;
}
/* Main journal section */
main {
  z-index: 2;
  position: relative;
}

/* Container for the entire surface */
.surface {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
  padding: 4px;
  width: 60%;
  margin: 32px auto;
  border-radius: 12px;
  opacity: 0.9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: #333333;
  z-index: 2; /* Ensure surface stays above the controls */
}

.surface-header {
  margin-bottom: 42px;
  font-size: 48px;
  color: #F9FEFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.journal-input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #888888;
  background-color: transparent;
  font-size: 24px;
  color: #F9FEFF;
  outline: none;
  margin-bottom: 16px;
  text-align: center;
}

.journal-input::placeholder {
  color: #F9FEFF;
  font-style: italic;
  opacity: 0.5;
}

.entries-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  padding: 32px;
  margin: 0 auto;
  width: 90%;
  overflow-y: auto;
  z-index: 2; /* Keep the entries above controls */
}

.entries-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 28px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  font-size: 24px;
  border: 2px solid #F9FEFF;
  font-weight: bold;
  opacity: 0.9;
  transition: background-color 0.3s ease;
  flex: 1 1 calc(25% - 1rem);
  max-width: calc(25% - 1rem);
  box-sizing: border-box;
}

.entry-actions-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  margin: -36px; /* Hidden by default */
  transition: opacity 0.3s ease;
  padding: 0.5rem;
}

.entries-list li:hover .entry-actions-container {
  opacity: 1;
}

.entries-list li.entry-done {
  background-color: #333333;
  color: #666666;
  opacity: 0.6;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive adjustments for small screens */
@media (max-width: 1268px) {
  .surface {
    padding: 44px;
    width: 70%;
    margin: 16px auto;
  }

  .surface-header {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

@media (max-width: 780px) {
  .surface {
    padding: 48px;
    width: 95%;
    margin: 8px auto;
  }

  .surface-header {
    margin: 16px auto;
    font-size: 32px;
    padding: 24px;
    text-align: center;
  }

  .journal-input {
    font-size: 16px;
    margin-bottom: 12px;;
  }

  .entries-list {
    flex-direction: column;
    padding: 12px;
    overflow-y: auto;
    width: 80%;
    max-height: 50vh;
  }

  .entries-list li {
    width: 100%;
    margin: 4px 0;
    height: 80px;
    max-width: 100%;
    font-size: 20px;
  }
}
