.weather-container {
  position: absolute;
  top: 8px;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Semi-transparent background */
  padding: 16px;
  border-radius: 8px;
  color: #F9FEFF;
  z-index: 3; /* Ensure weather stays above other elements */
}

/* Styling for weather location text */
.weather-location {
  font-size: 14px;
  font-weight: bold;
  color: #F9FEFF;
  margin-bottom: 2px;
  text-align: center;
}


.weather-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  width: 50px;
  height: 50px;
  margin-right: 2px;
}

/* Temperature styling */
.weather-details h1 {
  font-size: 32px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Weather description */
.weather-description {
  font-size: 14px;
  font-style: italic;
  color: #F9FEFF;
}

@media (max-width: 780px) {
  .weather-container {
    position: relative;
    right: 0;
    top: 20px;
    padding: 8px;
  }

 .weather-details h1 {
    font-size: 20px;
  }

  .weather-location {
    font-size: 12px;
  }

  .weather-description {
    font-size: 12px;
  }
}
